* {
    font-family: "Iosevka Nerd Front";
    font-weight: bold;
    font-size: 13px;
}

/* transparent  */

window#waybar {
	padding: 4px;
    background-color: #242129;
	border-radius: 10;    
	margin: 2px 10px;
}



.modules-left,
.modules-right {
    padding: 2px;
}

#workspaces,
#backlight,
#clock,
#cpu,
#network,
#battery,
#memory,
/*  */
/* #window { */
/*     background-color: #242129; */
/*     border: 1px solid #483D8B; */
/*     border-radius: 10; */
/*     padding: 8px 12px; */
/*     color: #483D8B; */
/*     margin: 2px; */
/* } */


#workspaces {
    border-color: #6d83a6;
}


#workspaces button {
    min-height: 0;
    padding: 0 7px;
    color: #6a6e8c;
}


#backlight {
    color: #f2c866;
}


#clock {
	color: #6d83a6;
}

#cpu {
	color: #6d83a6;
}

#network {
	color: #6d83a6;
}
#network.disabled {
	color: #b11e31;
	border-color: #b11e31;
}

#battery {
	color: #9370DB
}

#memory {
	color: #2E8B57
}


